# Copy this file and name it .env
# Replace all <value> by your own value for your environment
# Configure postgreSQL container
POSTGRES_USER=<DB user>
POSTGRES_PASSWORD=<DB password> 
POSTGRES_DB=<db name>
# Env variable for development environment
# user id: the linux ID for the current user (run the command "id -u" to get it)
USER_ID=<user_id>
# group id: the linux ID for the primary user group (run the command "id -g" to get it)
GROUP_ID=<group_id>
# Configure the welsh_academy app
# database settings: the project use a postgreSQL DB
# The value specified here is useful to test with the docker-compose present in the repo
# fill free to adjust it for other environment
# databse hostname
WA_DBHOST=db
# database user
WA_DBUSER=${POSTGRES_USER}
# database password
WA_DBPASSWORD=${POSTGRES_PASSWORD}
# datatabase name
WA_DBNAME=${POSTGRES_DB}
# datatabase port defaut for 5432
WA_DBPORT=5432
# Change the log level if you need
# the value can be "debug, info, error, warning, ..."
WA_LOGLEVEL=INFO
# Jwt signing key
# This valaue is used to sign jwt token, use  a random string
WA_JWT=<str>
